input[type="submit"] {
  position: relative;
  padding: 4px 12px;
  margin: 0;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding;
  cursor: default;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type="submit"]:hover {
  text-shadow: none;
  border-color: #c6c6c6;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(to bottom, #f8f8f8, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#fff1f1f1', GradientType=0);
  background-position: 0 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
input[type="submit"].active,
input[type="submit"]:active {
  background-image: none;
  outline: 0;
  background: #e8e8e8;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: -o-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: linear-gradient(to bottom, #f6f6f6, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#fff1f1f1', GradientType=0);
}
input[type="submit"].disabled,
input[type="submit"].disabled:hover,
input[type="submit"].disabled:active,
input[type="submit"].disabled.active,
input[type="submit"].disabled:focus,
input[type="submit"][disabled],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:active,
input[type="submit"][disabled].active,
input[type="submit"][disabled]:focus {
  border: 1px solid #dcdcdc;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
input[type="submit"]:focus {
  /* Blue border on button focus. */

  border-color: #4d90fe;
  outline-style: none;
  background-color: #f3f3f3;
}
input[type="submit"],
input[type="submit"]:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  color: #ffffff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
input[type="submit"]:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
input[type="submit"]:active,
input[type="submit"].active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
input[type="submit"].active,
input[type="submit"]:active,
input[type="submit"]:hover {
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
input[type="submit"] {
  border: 1px solid #3079ed;
  color: #ffffff;
  background-color: #4b8cf7;
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#4787ed));
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(to bottom, #4d90fe, #4787ed);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d90fe', endColorstr='#ff4787ed', GradientType=0);
  *background-color: #4d90fe;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"].active,
input[type="submit"]:focus {
  border: 1px solid #196aeb;
  color: #ffffff;
  background-color: #4186f6;
  background-image: -moz-linear-gradient(top, #4d90fe, #3078eb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#3078eb));
  background-image: -webkit-linear-gradient(top, #4d90fe, #3078eb);
  background-image: -o-linear-gradient(top, #4d90fe, #3078eb);
  background-image: linear-gradient(to bottom, #4d90fe, #3078eb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d90fe', endColorstr='#ff3078eb', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-color: #3078eb;
  background-color: #3078eb \9;
}
input[type="submit"]:active,
input[type="submit"].active {
  border: 1px solid #135fd7;
  background-color: #3880f5;
  background-image: -moz-linear-gradient(top, #4d90fe, #1969e8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#1969e8));
  background-image: -webkit-linear-gradient(top, #4d90fe, #1969e8);
  background-image: -o-linear-gradient(top, #4d90fe, #1969e8);
  background-image: linear-gradient(to bottom, #4d90fe, #1969e8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d90fe', endColorstr='#ff1969e8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
input[type="submit"]:focus {
  border: 1px solid #3079ed;
  -webkit-box-shadow: inset 0 0 0 1px #ffffff;
  -moz-box-shadow: inset 0 0 0 1px #ffffff;
  box-shadow: inset 0 0 0 1px #ffffff;
}
input[type="submit"].disabled,
input[type="submit"][disabled],
input[type="submit"].disabled:hover,
input[type="submit"][disabled]:hover,
input[type="submit"].disabled:active,
input[type="submit"][disabled]:active,
input[type="submit"].disabled:focus,
input[type="submit"][disabled]:focus {
  border: 1px solid #3079ed;
  background-color: #4b8cf7;
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#4787ed));
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(to bottom, #4d90fe, #4787ed);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d90fe', endColorstr='#ff4787ed', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-color: #4d90fe;
  background-color: #4d90fe \9;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 4px 8px;
  font-size: 14px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
input,
textarea {
  width: 210px;
}
textarea {
  padding-right: 4px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 1px solid #cccccc;
  border-top-color: #b3b3b3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
.uneditable-input:hover {
  border: 1px solid #b9b9b9;
  border-top-color: #a0a0a0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  outline: 0 \9;
  border-color: #4d90fe;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  background: white;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  box-sizing: content-box \9;
  width: 16px \9;
  height: 16px \9;
  border-width: 0 \9;
}
input[type="radio"] {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  width: 15px;
  height: 15px;
}
input[type="checkbox"]:hover {
  border-color: #c6c6c6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: none \9;
}
input[type="checkbox"]:active,
input[type="radio"]:active {
  border-color: #c6c6c6;
  background-color: #ebebeb;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background: #fff;
}
input[type="checkbox"]:checked::after {
  content: url(checkmark.png);
  display: block;
  position: absolute;
  top: -6px;
  left: -5px;
}
input[type="radio"]:checked::after {
  content: '';
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  background: #666;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: none;
  border-color: #4d90fe;
}
input[disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
  border: 1px solid #e5e5e5;
  background: #f1f1f1;
}
input[disabled]:hover,
select[disabled]:hover,
textarea[disabled]:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  border: 1px solid #cccccc;
}
input[readonly]:hover,
select[readonly]:hover,
textarea[readonly]:hover,
input[readonly]:focus,
select[readonly]:focus,
textarea[readonly]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
